name: Security

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 1"

jobs:
  pip-audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .
          python -m pip install pip-audit

      - name: Run pip-audit
        run: python -m pip_audit --strict

